$def with (controller)
$var title: $controller.title
$var is_admin: $controller.is_admin
$var username: $controller.username
$var nav_index: $controller.nav_index
      <div class="row">
        <div class="col-md-12">
          <!--breadcrumbs start -->
          <ul class="breadcrumb">
            <li><a href="main"><i class="fa fa-home"></i> 首页</a></li>
            <li class="active">$controller.title</li>
          </ul>
          <!--breadcrumbs end -->
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="panel">
            <header class="panel-heading">
              $controller.title
            </header>
            <div class="panel-body table-responsive">
              <form method="get">
              <div class="row">
                <div class="col-lg-5 pull-right">
                  <div class="box-tools m-b-15">
                    <div class="input-group search-type-bar">
                        <div class="input-group-btn">
                          <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">RUN ID<span class="caret"></span></button>
                          <ul class="dropdown-menu">
                            <li><a data-type="task_id">Task ID</a></li>
                            <li><a data-type="api">API</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a data-type="add_time">添加时间</a></li>
                          </ul>
                        </div>
                        <input type="text" name="table_search" class="form-control input-sm pull-right" placeholder="Search" value="$controller.params.table_search"/>
                        <div class="input-group-btn">
                          $if controller.params.data_type:
                            <input name="data_type" value="$controller.params.data_type" type="hidden"/>
                          $else:
                            <input name="data_type" value="task_id" type="hidden"/>
                        <button class="btn btn-sm btn-default" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              </form>
              $if int(controller.list_model.total) > 0:
                  <table class="table table-hover">
                    <tr>
                      <th>Task ID</th>
                      <th>Log</th>
                      <th>API</th>
                      <th>Data</th>
                      <th>添加时间</th>
                      <th>更新数据库</th>
                      <th>更新ＷebAPI</th>
                      <th>Server</th>
                      <th>返回内容</th>
                      <th>返回码</th>
                    </tr>
                    $for data in controller.list_data:
                        <tr>
                        <td><a href="detail?run_id=$data.task_id">$data.task_id</a></td>
                        <td><a href="apilog?workflow_id=$data.task_id&addtime=$data.addtime" role="button" target="_blank" class="btn btn-default btn-xs">View</a></td>
                        <td><a href='pymodule?name=mbio.api.web.$data.api'>$data.api</a></td>
                        <td><button type="button" class="btn btn-default btn-xs" data-wid="$data.id" data-type="api" data-toggle="modal" data-target="#jsonModal" aria-label="Json数据">View</button></td>
                        <td>$data.addtime</td>
                        $if data.update_status == 0:
                            <td><button type="button" class="btn btn-default btn-xs"><i class="fa fa-genderless" aria-hidden="true"></i></button></td>
                        $elif data.update_status_success == 1:
                            <td><button type="button" class="btn btn-success btn-xs"><i class="fa fa-check" aria-hidden="true"></i></button></td>
                        $else:
                            <td><button type="button" class="btn btn-warning btn-xs"><i class="fa fa-close" aria-hidden="true"></i></button></td>
                        $if data.webapi == 0:
                            <td><button type="button" class="btn btn-default btn-xs"><i class="fa fa-genderless" aria-hidden="true"></i></button></td>
                        $elif data.success == 1:
                            <td><button type="button" class="btn btn-success btn-xs"><i class="fa fa-check" aria-hidden="true"></i></button></td>
                        $else:
                            <td><button type="button" class="btn btn-warning btn-xs"><i class="fa fa-close" aria-hidden="true"></i></button></td>
                        <td>$data.server</td>
                        <td><button type="button" class="btn btn-default btn-xs" data-wid="$data.id" data-type="response" data-toggle="modal" data-target="#jsonModal" aria-label="Json数据">View</button></td>
                        <td>$data.response_code</td>
                        </tr>
                  </table>
                  <div class="table-foot">
                    <h6>第<span class="badge"> $controller.current_page </span>页,共 $controller.list_model.total_page 页
                      ,共 $controller.list_model.total 条记录</h6>
                    $:controller.pager.get_pager()
                  </div>
              $else:
                  <div class="table-foot">没有数据！</div>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div>
      </div>
<div class="modal fade" tabindex="-1" role="dialog" id="jsonModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Json Data</h4>
      </div>
      <div class="modal-body">
        <pre><code class="json" style="height:400px" id="jsoncode">
        </code></pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
<script type="text/javascript">
  var search_key = "$controller.params.table_search"
  var time_from = "$controller.params.time_from"
  var time_to = "$controller.params.time_to"
</script>